/* Fonts */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Colors*/
* {
  box-sizing: border-box;
}
/* basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'OpenSans-Regular', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 0;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #540b63;
}
.under-header {
  margin: 0 auto;
  width: 22rem;
  height: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.under-header img {
  width: 100%;
}
@keyframes header-phone {
  0% {
    background: url(../img/1header/phone-1.png) left no-repeat;
  }
  33% {
    background: url(../img/1header/phone-2.png) left no-repeat;
  }
  66% {
    background: url(../img/1header/phone-3.png) left no-repeat;
  }
  100% {
    background: url(../img/1header/phone-1.png) left no-repeat;
  }
}
.header {
  height: 70rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #ffffff url(../img/1header/bg-header.jpg) no-repeat;
}
.header-red {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: url(../img/1header/header-red.png) right no-repeat;
}
.header-violet {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: url(../img/1header/header-vialet.png) right no-repeat;
}
.header-content {
  position: relative;
  z-index: 9;
}
.header-logo {
  height: 5rem;
  width: 37rem;
  background: url('../img/1header/logo.png') left no-repeat;
}
.header-logo,
.header-contacts,
.header-nav {
  margin-top: 5rem;
  height: 5.5rem;
}
.header-contacts {
  width: 27rem;
}
.header-phone {
  position: absolute;
  transform: translateY(15%);
  height: 5rem;
  width: 3.4rem;
  background: url(../img/1header/phone-3.png) left no-repeat;
  animation-name: header-phone;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, end);
}
.header-call {
  display: inline-block;
  margin-left: 4rem;
  color: #333333;
}
.header-call a {
  font-size: 30px;
  color: #333333;
}
.header-call p {
  margin-top: -7px;
  font-size: 12px;
}
.header-nav ul {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
}
.header-nav li {
  display: inline-block;
  position: relative;
  margin-top: 3rem;
  margin-right: 1rem;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: right;
  font-size: 16px;
  list-style-type: none;
}
.header-nav li:hover:before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.header-nav li:last-child {
  margin-right: 0;
}
.header-nav a {
  color: #ffffff;
}
.header-nav a:not([href]) {
  color: #ffffff;
  cursor: pointer;
}
.header-nav a:not([href]):hover {
  color: #ffffff;
}
.header-nav-vertical {
  display: none;
}
.header-stend {
  margin-top: 9rem;
}
.header-dev {
  margin-top: 19rem;
  height: 19.6rem;
  width: 54rem;
  box-sizing: border-box;
  border: 5px solid #ffffff;
}
.header-dev h1 {
  margin: 2.8rem;
  font-size: 40px;
  line-height: 1.2;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.navigation {
  min-height: 30.2rem;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.navigation-box {
  height: 30rem;
  text-align: center;
}
.navigation-box h2 {
  margin-top: 3rem;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #007bff;
  font-size: 18px;
  line-height: 1.2;
}
.navigation-box:hover {
  border-bottom: 11px solid #cb0529;
  border-radius: 0;
  cursor: pointer;
}
.navigation-box:hover h2 {
  color: #cb0529;
}
.navigation img {
  position: relative;
  margin-top: 3rem;
  height: 18.5rem;
  width: 18.5rem;
  text-align: center;
  z-index: 5;
}
.navigation .shadow-1 {
  position: absolute;
  height: 21rem;
  width: 21rem;
  top: -5px;
  left: 3.6rem;
  z-index: 1;
}
.navigation .shadow-2 {
  position: absolute;
  height: 21rem;
  width: 21rem;
  top: -1.8rem;
  left: 3.6rem;
  z-index: 1;
}
.navigation .shadow-3 {
  position: absolute;
  height: 20rem;
  width: 25rem;
  top: -5px;
  left: 1.4rem;
  z-index: 1;
}
.navigation .shadow-4 {
  position: absolute;
  height: 21rem;
  width: 25.5rem;
  top: -1.2rem;
  left: 1.3rem;
  z-index: 1;
}
.services {
  min-height: 82.5rem;
}
.services-header {
  margin-top: 13rem;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  font-size: 35px;
  text-align: center;
}
.services-boxes {
  margin-top: 7rem;
}
.services-box {
  height: 26rem;
  width: 40rem;
  text-align: center;
  cursor: pointer;
}
.services-box h3 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
  color: #670e7a;
}
.services-box:hover {
  background-color: #670e7a;
}
.services-box:hover h3 {
  color: #ffffff;
}
.services-box:hover .services-box-icon-white {
  z-index: 3;
}
.services-box-icon {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 7rem;
  width: 7rem;
  margin: 7rem auto 4rem auto;
}
.services-box-icon img {
  width: 100%;
  height: 100%;
}
.services-box-icon-violet {
  position: relative;
  z-index: 2;
}
.services-box-icon-white {
  position: absolute;
  top: 0;
  left: 0;
  height: 7rem;
  width: 7rem;
  z-index: 1;
}
.freeserv {
  position: relative;
  height: 52.4rem;
  width: 100%;
  overflow: hidden;
  background: #ffffff url(../img/4freeserv/bg-freeserv.jpg) no-repeat;
  background-size: cover;
}
.freeserv-violet {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url(../img/4freeserv/bg-freeserv-violet.png) left no-repeat;
}
.freeserv-red {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: url(../img/4freeserv/bg-freeserv-red.png) left no-repeat;
}
.freeserv-content {
  position: relative;
  z-index: 9;
  height: 100%;
  width: 100%;
}
.freeserv-block {
  height: 100%;
  color: #ffffff;
}
.freeserv-block h2 {
  margin-top: 10rem;
  font-size: 26px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}
.freeserv-block h3 {
  margin-top: 4rem;
  font-size: 28px;
  font-family: 'OpenSans-bold', sans-serif;
}
.freeserv-block p {
  margin-top: 3rem;
  font-size: 16px;
}
.freeserv-block .freeserv-btn {
  margin-top: 9.5rem;
  width: 38rem;
  height: 7rem;
  color: #cb0529;
  font-size: 20px;
  background-color: #ffffff;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  padding: 0;
  letter-spacing: -0.1em;
  word-spacing: 0.1em;
}
.freeserv-block .freeserv-btn:hover {
  width: 38.2rem;
  height: 7.2rem;
  color: #ffffff;
  background-color: #670e7a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.freeserv-man {
  width: 38.2rem;
  height: 50.1rem;
  margin-top: 2.3rem;
}
.freeserv-man img {
  width: 100%;
  height: 100%;
}
.advantages {
  height: 45rem;
}
.advantages-header {
  margin-top: 12rem;
  margin-bottom: 6rem;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  text-align: center;
}
.advantages-header h2 {
  font-size: 36px;
}
.advantages-box {
  position: relative;
  margin-bottom: 7rem;
  height: 8.5rem;
  padding-right: 8rem;
}
.advantages-ico {
  position: absolute;
  height: 100%;
  width: 6rem;
}
.advantages-ico img {
  height: 6rem;
  width: 6rem;
}
.advantages-content {
  position: absolute;
  left: 8rem;
  height: 100%;
}
.advantages-content h3 {
  font-size: 16px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #670e7a;
}
.advantages-content p {
  margin-top: 2.5rem;
  font-size: 14px;
}
.clients {
  height: 53rem;
}
.clients-header {
  margin-top: 11rem;
  margin-bottom: 2.6rem;
  text-align: center;
}
.clients-header h2 {
  font-size: 35px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  line-height: 1.2;
}
.clients-logo {
  margin-top: 6rem;
  text-align: center;
  height: 8rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-logo img {
  max-width: 100%;
  max-height: 100%;
}
.prodaction {
  height: 45rem;
  background-image: url(../img/7prodaction/bg-prodaction.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.prodaction h2 {
  margin-top: 12rem;
  font-size: 35px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  letter-spacing: -2px;
}
.prodaction h3 {
  font-size: 20px;
  font-family: 'OpenSans-Regular', sans-serif;
}
.prodaction-btn {
  margin-top: 5rem;
  width: 28.7rem;
  height: 7.1rem;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
}
.prodaction-btn img {
  height: 25px;
  display: inline-block;
}
.prodaction-btn p {
  display: inline-block;
  margin-left: 1rem;
}
.prodaction-btn:hover {
  width: 28.9rem;
  height: 7.3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.contacts {
  height: 59rem;
}
.contacts-map {
  margin-top: 12rem;
}
.contacts-map iframe {
  width: 38rem;
  height: 43.5rem;
  border: none;
}
.contacts-content {
  margin-top: 12rem;
}
.contacts-content h2 {
  margin-bottom: 5rem;
  font-size: 35px;
  color: #670e7a;
  letter-spacing: -2px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}
.contacts-content address,
.contacts-content a {
  margin-bottom: 2.5rem;
  display: block;
  color: #333333;
  font-size: 20px;
  text-transform: none;
}
.contacts-content address:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/8contacts/address4red.png) center no-repeat;
  background-size: 70%;
  vertical-align: middle;
}
.contacts-content-phone:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/8contacts/phone4red.png) center no-repeat;
  background-size: 70%;
  vertical-align: middle;
}
.contacts-content-mail:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  background: url(../img/8contacts/mail4red.png) center no-repeat;
  background-size: 90%;
  vertical-align: middle;
}
.contacts-content h3 {
  margin-top: 5rem;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #cb0529;
  letter-spacing: -1px;
}
.contacts-btn {
  margin-top: 3rem;
  width: 38rem;
  height: 7rem;
  cursor: pointer;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #ffffff;
  background-color: #cb0529;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.contacts-btn:hover {
  width: 38.1rem;
  height: 7.1rem;
  box-shadow: 0 0 20px rgba(50, 0, 50, 0.5);
}
.footer {
  height: 3.5rem;
  background: url(../img/9footer/bg-footer.jpg) no-repeat;
  position: relative;
}
.footer-red {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../img/9footer/bg-footer-red.png) right no-repeat;
}
.footer-violet {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../img/9footer/bg-footer-violet.png) right no-repeat;
}
/* Оформление скрытых секций */
.about-us {
  height: 80rem;
}
.about-us--bg {
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.about-us-box {
  padding: 0 1rem;
}
.about-us-box h2 {
  margin-top: 13rem;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #333333;
  font-size: 35px;
  text-align: center;
  letter-spacing: -1px;
}
.about-us-box p {
  margin-top: 1rem;
  font-size: 16px;
  text-align: justify;
  text-indent: 5rem;
  color: #666666;
}
.about-us-slider {
  margin-top: 13rem;
  margin: 13rem auto 2rem auto;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.about-us-slider_item img {
  margin: 0 auto;
}
.about-us-slider_item .gram-horizontally {
  width: 100%;
  transform: translateY(20%);
}
.about-us-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 12rem;
  border: none;
  background-color: transparent;
}
.about-us-slider-btn img {
  width: 50%;
}
.about-us-prew-btn {
  left: -4.2rem;
}
.about-us-next-btn {
  right: -4.2rem;
}
.portfolio {
  text-align: center;
}
.portfolio h2 {
  margin-top: 11rem;
  margin-bottom: 4rem;
  font-size: 35px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #333333;
  line-height: 1.2;
}
.portfolio-box {
  margin-bottom: 3rem;
}
.portfolio-box img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background-color: cyan;
}
.portfolio-box:hover img {
  width: 29.5rem;
  opacity: 0.9;
  cursor: pointer;
}
.all-services h2 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-size: 35px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #333333;
  line-height: 1.2;
}
.all-services p {
  margin-top: 3rem;
  font-size: 18px;
  text-align: justify;
  text-indent: 5rem;
  color: #666666;
}
.all-services h3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 20px;
  padding-left: 3rem;
}
.all-services ul {
  margin-bottom: 5rem;
  padding: 10px;
  min-height: 33rem;
}
.all-services li {
  list-style: none;
  padding-left: 3rem;
  font-size: 18px;
  background: url('../img/li.png') 0 0 no-repeat;
  background-size: 2rem;
  line-height: 1.9;
}
.all-services-btn {
  margin: 2rem auto 8rem auto;
  padding: 2rem 5rem;
  color: #ffffff;
  font-family: 'OpenSans-bold', sans-serif;
  border: none;
  background-color: #670e7a;
}
.all-services-btn:hover {
  background-color: #cb0529;
  box-shadow: 0px 0px 10px #670e7a;
}
/*Оформление модальных окон*/
/*Видео о нас*/
.ourvideo {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.ourvideo-content {
  position: fixed;
  text-align: center;
  width: 80rem;
  height: 51rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 0;
}
.ourvideo-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.ourvideo-close {
  position: absolute;
  top: -1.5rem;
  right: -11rem;
  width: 20rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
/*Заказать прайс-лист*/
.price {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(103, 14, 122, 0.7);
}
.price-content {
  position: fixed;
  text-align: center;
  width: 50rem;
  height: 47rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 0;
}
.price-content h3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: 'OpenSans-bold', sans-serif;
  font-size: 25px;
  color: #670e7a;
}
.price-content form {
  width: 90%;
  margin: 0 auto;
}
.price-content input {
  display: block;
  margin: 2rem auto;
  padding: 25px;
  border: 1px solid #670e7a;
  font-size: 16px;
  color: #670e7a;
}
.price-content input::placeholder {
  font-size: 16px;
  color: #670e7a;
  opacity: 0.8;
}
.price-content input:focus {
  border: 1px solid #670e7a;
  outline: none;
  box-shadow: none;
}
.price-content input:focus::placeholder {
  opacity: 1;
}
.price-btn {
  margin: 3rem auto;
  padding: 25px 0;
  height: 8rem;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #cb0529;
  border: none;
}
.price-btn:hover {
  box-shadow: 0 0 20px rgba(50, 0, 50, 0.5);
}
.price-close {
  position: absolute;
  top: -1.5rem;
  right: -11rem;
  width: 20rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
/*заказать выезд замерщика*/
.order {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(103, 14, 122, 0.7);
}
.order-content {
  position: fixed;
  text-align: center;
  width: 50rem;
  height: 47rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 0;
}
.order-content h3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: 'OpenSans-bold', sans-serif;
  font-size: 25px;
  color: #670e7a;
}
.order-content form {
  width: 90%;
  margin: 0 auto;
}
.order-content input {
  display: block;
  margin: 2rem auto;
  padding: 25px;
  border: 1px solid #670e7a;
  font-size: 16px;
  color: #670e7a;
}
.order-content input::placeholder {
  font-size: 16px;
  color: #670e7a;
  opacity: 0.8;
}
.order-content input:focus {
  border: 1px solid #670e7a;
  outline: none;
  box-shadow: none;
}
.order-content input:focus::placeholder {
  opacity: 1;
}
.order-btn {
  margin: 3rem auto;
  padding: 25px 0;
  height: 8rem;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #cb0529;
  border: none;
}
.order-btn:hover {
  box-shadow: 0 0 20px rgba(50, 0, 50, 0.5);
}
.order-close {
  position: absolute;
  top: -1.5rem;
  right: -11rem;
  width: 20rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
/*заказать консультацию*/
.consultation {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(103, 14, 122, 0.7);
}
.consultation-content {
  position: fixed;
  text-align: center;
  width: 50rem;
  height: 47rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 0;
}
.consultation-content h3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: 'OpenSans-bold', sans-serif;
  font-size: 25px;
  color: #670e7a;
}
.consultation-content form {
  width: 90%;
  margin: 0 auto;
}
.consultation-content input {
  display: block;
  margin: 2rem auto;
  padding: 25px;
  border: 1px solid #670e7a;
  font-size: 16px;
  color: #670e7a;
}
.consultation-content input::placeholder {
  font-size: 16px;
  color: #670e7a;
  opacity: 0.8;
}
.consultation-content input:focus {
  border: 1px solid #670e7a;
  outline: none;
  box-shadow: none;
}
.consultation-content input:focus::placeholder {
  opacity: 1;
}
.consultation-btn {
  margin: 3rem auto;
  padding: 25px 0;
  height: 8rem;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #cb0529;
  border: none;
}
.consultation-btn:hover {
  box-shadow: 0 0 20px rgba(50, 0, 50, 0.5);
}
.consultation-close {
  position: absolute;
  top: -1.5rem;
  right: -11rem;
  width: 20rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
/*Спасибо за обращение*/
.thanks {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(103, 14, 122, 0.7);
}
.thanks-content {
  position: fixed;
  text-align: center;
  width: 50rem;
  height: 27rem;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translateX(-50%);
  padding: 0;
}
.thanks-content h3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-family: 'OpenSans-bold', sans-serif;
  font-size: 25px;
  color: #670e7a;
}
.thanks-content p {
  margin-top: 5rem;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 25px;
  line-height: 2.2;
}
.thanks-btn {
  margin: 3rem auto;
  padding: 25px 0;
  height: 8rem;
  font-size: 20px;
  font-family: 'OpenSans-bold', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #cb0529;
  border: none;
}
.thanks-btn:hover {
  box-shadow: 0 0 20px rgba(50, 0, 50, 0.5);
}
.thanks-close {
  position: absolute;
  top: -1.5rem;
  right: -11rem;
  width: 20rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
}
/*Адаптация под различные устройства*/
@media (max-width: 1200px) {
  .header-red {
    background: url(../img/1header/header-red.png) 12rem no-repeat;
  }
  .header-violet {
    background: url(../img/1header/header-vialet.png) right no-repeat;
  }
  .header-logo {
    width: 22rem;
    background: url('../img/1header/logo-small.png') 0 center no-repeat;
    background-size: contain;
  }
  .header-stend {
    margin-top: 8rem;
    margin-left: -10rem;
  }
  .header-dev {
    height: 16.6rem;
    width: 42rem;
  }
  .header-dev h1 {
    font-size: 30px;
  }
  .navigation .shadow-1 {
    left: 1.3rem;
  }
  .navigation .shadow-2 {
    left: 1.4rem;
  }
  .navigation .shadow-3 {
    left: -0.7rem;
  }
  .navigation .shadow-4 {
    left: -0.8rem;
  }
  .services {
    min-height: 72.5rem;
  }
  .services-header {
    margin-top: 5rem;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  .services-boxes {
    margin-top: 3rem;
  }
  .services-box {
    width: 30rem;
  }
  .freeserv {
    background: #ffffff url(../img/4freeserv/bg-freeserv.jpg) no-repeat;
  }
  .freeserv-violet {
    background: url(../img/4freeserv/bg-freeserv-violet.png) -50rem no-repeat;
  }
  .freeserv-red {
    background: url(../img/4freeserv/bg-freeserv-red.png) -50rem no-repeat;
  }
  .freeserv-block {
    height: 100%;
  }
  .freeserv-block h2 {
    margin-top: 10rem;
  }
  .freeserv-block h3 {
    margin-top: 4rem;
  }
  .freeserv-block p {
    margin-top: 4rem;
  }
  .freeserv-block .freeserv-btn {
    margin-top: 5rem;
  }
  .advantages {
    height: 40rem;
  }
  .advantages-header {
    margin-top: 5rem;
    margin-bottom: 6rem;
  }
  .advantages-box {
    margin-bottom: 3rem;
  }
  .footer-red {
    background: url(../img/9footer/bg-footer-red.png) 30rem no-repeat;
  }
  .footer-violet {
    background: url(../img/9footer/bg-footer-violet.png) 50rem no-repeat;
  }
  /* Оформление скрытых секций */
  .about-us-box h2 {
    margin-top: 5rem;
  }
}
@media (max-width: 991px) {
  .header {
    height: 70rem;
  }
  .header-red {
    background: url(../img/1header/header-red.png) 10rem no-repeat;
  }
  .header-violet {
    background: url(../img/1header/header-vialet.png) 40rem no-repeat;
  }
  .header-logo {
    height: 5rem;
    width: 37rem;
    background: url('../img/1header/logo-small.png') center no-repeat;
  }
  .header-logo,
  .header-contacts {
    margin-top: 5rem;
    height: 5.5rem;
  }
  .header-nav {
    display: none;
  }
  .header-nav-vertical {
    margin-top: 6rem;
    text-align: center;
    position: relative;
    display: block;
  }
  .header-nav-vertical-btn {
    height: 3.8rem;
    width: 3.8rem;
    cursor: pointer;
  }
  .header-nav-vertical-btn img {
    width: 100%;
    height: 100%;
  }
  .header-nav-vertical-btn-close {
    display: none;
  }
  .header-nav-vertical-menu {
    display: none;
  }
  .header-nav-vertical-menu ul {
    position: absolute;
    z-index: 5;
    top: 6rem;
    left: -15rem;
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'OpenSans-bold', sans-serif;
  }
  .header-nav-vertical-menu li {
    width: 25rem;
    margin-top: 0;
    padding: 1rem 2rem;
    line-height: 1.2;
    border: 1px solid #ffffff;
    border-bottom: none;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
  }
  .header-nav-vertical-menu li:hover {
    background-color: #ffffff;
  }
  .header-nav-vertical-menu li:hover a {
    color: #cb0529;
  }
  .header-nav-vertical-menu li:hover a:not([href]) {
    color: #670e7a;
    cursor: pointer;
  }
  .header-nav-vertical-menu li:last-child {
    border-bottom: 1px solid #ffffff;
  }
  .header-nav-vertical-menu a {
    color: #ffffff;
  }
  .header-nav-vertical-menu a:not([href]) {
    color: #ffffff;
  }
  .header-nav-vertical-menu a:not([href]):hover {
    color: #ffffff;
  }
  .header-stend {
    margin-top: 10rem;
    height: 40rem;
    width: 50rem;
  }
  .header-stend img {
    width: 100%;
    height: 100%;
  }
  .header-dev {
    margin-top: 22rem;
    height: 17.6rem;
    width: 40rem;
  }
  .header-dev h1 {
    margin: 2.8rem;
    font-size: 28px;
    line-height: 1.5;
  }
  .navigation .shadow-1 {
    left: 7.3rem;
  }
  .navigation .shadow-2 {
    left: 7.3rem;
  }
  .navigation .shadow-3 {
    left: 5.1rem;
  }
  .navigation .shadow-4 {
    left: 4.9rem;
  }
  .services {
    min-height: 72.5rem;
  }
  .services-header {
    margin-top: 5rem;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 35px;
    text-align: center;
  }
  .services-boxes {
    margin-top: 3rem;
  }
  .services-boxes:last-child {
    margin-bottom: 2rem;
  }
  .services-box {
    width: 30rem;
  }
  .freeserv-violet {
    background: url(../img/4freeserv/bg-freeserv-violet.png) -65rem no-repeat;
  }
  .freeserv-red {
    background: url(../img/4freeserv/bg-freeserv-red.png) -65rem no-repeat;
  }
  .freeserv-block {
    height: 100%;
  }
  .freeserv-block h2 {
    margin-top: 10rem;
  }
  .freeserv-block h3 {
    margin-top: 4rem;
  }
  .freeserv-block p {
    margin-top: 4rem;
  }
  .freeserv-block .freeserv-btn {
    margin-top: 5rem;
  }
  .freeserv-man {
    width: 35.2rem;
    height: 46.1rem;
    margin-top: 6.3rem;
  }
  .advantages {
    min-height: 57rem;
  }
  .advantages-header {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .advantages-header h2 {
    font-size: 36px;
  }
  .advantages-box {
    margin-bottom: 3rem;
  }
  .advantages-content h3 {
    font-size: 20px;
  }
  .advantages-content p {
    margin-top: 1.5rem;
    font-size: 18px;
  }
  .clients {
    height: 65rem;
  }
  .contacts {
    height: 55rem;
  }
  .contacts-map {
    margin-top: 5rem;
  }
  .contacts-map iframe {
    width: 25rem;
    height: 46.5rem;
  }
  .contacts-content {
    margin-top: 5rem;
  }
  .contacts-content h2 {
    margin-bottom: 5rem;
  }
  /* Оформление скрытых секций */
  .all-services h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
  }
  .all-services p {
    margin-top: 2rem;
    font-size: 18px;
  }
  .all-services h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 20px;
  }
  .all-services ul {
    margin-bottom: 1rem;
  }
  .all-services-btn {
    margin: 1rem auto 3rem auto;
    padding: 2rem 5rem;
  }
  .about-us {
    min-height: 130rem;
  }
  .about-us-box h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .about-us-box p {
    margin-top: 1rem;
    font-size: 16px;
  }
  .about-us-slider {
    margin-top: 3rem;
    margin: 3rem auto 2rem auto;
  }
  /*Оформление модальных окон*/
  .ourvideo-content {
    width: 58rem;
    height: 32rem;
  }
}
@media (max-width: 767px) {
  .header {
    height: 64rem;
  }
  .header-red {
    background: url(../img/1header/header-red.png) 5rem no-repeat;
  }
  .header-violet {
    background: url(../img/1header/header-vialet.png) 30rem no-repeat;
  }
  .header-logo {
    margin-top: 5rem;
    height: 7rem;
    width: 42rem;
    background: url('../img/1header/logo-small.png') center no-repeat;
    background-size: contain;
  }
  .header-contacts {
    margin: 0 auto;
    margin-top: 5rem;
    width: 35rem;
  }
  .header-phone {
    top: 5.6rem;
  }
  .header-call {
    display: inline-block;
    margin-left: 4rem;
    color: #333333;
  }
  .header-call a {
    font-size: 36px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    color: #333333;
  }
  .header-call p {
    margin-top: -7px;
    font-size: 16px;
  }
  .header-nav {
    display: none;
  }
  .header-nav-vertical {
    margin-top: -4rem;
    float: right;
  }
  .header-nav-vertical-btn {
    height: 4.4rem;
    width: 4.4rem;
    cursor: pointer;
  }
  .header-nav-vertical-btn img {
    width: 100%;
    height: 100%;
  }
  .header-nav-vertical-btn-close {
    display: none;
  }
  .header-nav-vertical-menu {
    display: none;
  }
  .header-nav-vertical-menu ul {
    position: absolute;
    z-index: 5;
    top: 15rem;
    left: -28rem;
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'OpenSans-bold', sans-serif;
  }
  .header-nav-vertical-menu li {
    width: 25rem;
    margin-top: 0;
    padding: 1.2rem 2rem;
    line-height: 1.2;
    border-bottom: none;
    border: none;
    font-size: 28px;
    list-style-type: none;
    cursor: pointer;
  }
  .header-nav-vertical-menu li:hover {
    background-color: #ffffff;
  }
  .header-nav-vertical-menu li:hover a {
    color: #cb0529;
  }
  .header-nav-vertical-menu li:hover a:not([href]) {
    color: #670e7a;
    cursor: pointer;
  }
  .header-nav-vertical-menu li:last-child {
    border: none;
  }
  .header-nav-vertical-menu a {
    color: #ffffff;
  }
  .header-nav-vertical-menu a:not([href]) {
    color: #ffffff;
  }
  .header-nav-vertical-menu a:not([href]):hover {
    color: #ffffff;
  }
  .header-stend {
    display: none;
  }
  .header-dev {
    margin-top: 10rem;
    height: 24.6rem;
    width: 52rem;
  }
  .header-dev h1 {
    margin: 2.8rem;
    font-size: 38px;
    line-height: 1.5;
  }
  .navigation .shadow-1 {
    left: 16.3rem;
  }
  .navigation .shadow-2 {
    left: 16.3rem;
  }
  .navigation .shadow-3 {
    left: 14.1rem;
  }
  .navigation .shadow-4 {
    left: 13.9rem;
  }
  .freeserv-block {
    height: 100%;
  }
  .freeserv-block h2 {
    margin-top: 8rem;
  }
  .freeserv-block h3 {
    margin-top: 4rem;
  }
  .freeserv-block p {
    margin-top: 4rem;
    font-size: 20px;
  }
  .freeserv-block .freeserv-btn {
    margin-top: 5rem;
  }
  .freeserv-man {
    display: none;
  }
  .advantages {
    min-height: 58rem;
  }
  .advantages-header {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .advantages-box {
    margin-bottom: 3rem;
  }
  .advantages-content h3 {
    font-size: 20px;
  }
  .advantages-content p {
    margin-top: 1.5rem;
    font-size: 18px;
  }
  .clients {
    height: 85rem;
  }
  .clients-header {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
  }
  .clients-logo {
    margin: 0 auto;
    margin-top: 3rem;
  }
  .contacts {
    height: 70rem;
  }
  .contacts-map {
    margin-top: 2rem;
  }
  .contacts-map iframe {
    width: 42rem;
    height: 26.5rem;
  }
  .contacts-content {
    margin-top: 2rem;
  }
  .contacts-content h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .contacts-content address,
  .contacts-content a {
    margin-bottom: 1.5rem;
  }
  .contacts-content h3 {
    margin-top: 2.5rem;
    text-align: center;
  }
  .contacts-btn {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .footer-red {
    background: url(../img/9footer/bg-footer-red.png) 20rem no-repeat;
  }
  .footer-violet {
    background: url(../img/9footer/bg-footer-violet.png) 40rem no-repeat;
  }
  /* Оформление скрытых секций */
  .all-services h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .all-services p {
    margin-top: 2rem;
    font-size: 22px;
  }
  .all-services h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 26px;
  }
  .all-services ul {
    margin-bottom: 1rem;
    min-height: 13rem;
  }
  .all-services li {
    font-size: 22px;
  }
  .all-services-btn {
    margin: 1rem auto 3rem auto;
    padding: 2rem 5rem;
  }
  .about-us {
    min-height: 145rem;
  }
  .about-us-box h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .about-us-box p {
    margin-top: 1rem;
    font-size: 16px;
  }
  .about-us-slider {
    margin-top: 3rem;
    margin: 3rem auto 2rem auto;
  }
  .portfolio-box {
    margin-bottom: 3rem;
  }
  .portfolio-box img {
    width: 20.5rem;
  }
  .portfolio-box:hover img {
    width: 20rem;
  }
  /*Оформление модальных окон*/
  .ourvideo-content {
    width: 53rem;
    height: 29rem;
  }
}
@media (max-width: 576px) {
  .header {
    height: 64rem;
  }
  .header-dev {
    width: 45rem;
  }
  .header-dev h1 {
    margin: 2.8rem;
    font-size: 32px;
    line-height: 1.9;
  }
  .navigation {
    display: none;
  }
  .freeserv-block {
    height: 100%;
    text-align: center;
  }
  .freeserv-block h2 {
    margin-top: 5rem;
  }
  .freeserv-block h3 {
    margin-top: 4rem;
  }
  .freeserv-block p {
    margin-top: 4rem;
    font-size: 20px;
  }
  .freeserv-block .freeserv-btn {
    margin-top: 5rem;
  }
  /* Оформление скрытых секций */
  .about-us {
    min-height: 150rem;
  }
  .about-us-box h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .about-us-box p {
    margin-top: 1rem;
    font-size: 16px;
  }
  .about-us-slider {
    margin-top: 3rem;
    margin: 3rem auto 2rem auto;
  }
  .portfolio-box {
    margin-bottom: 3rem;
  }
  .portfolio-box img {
    width: 30.5rem;
  }
  .portfolio-box:hover img {
    width: 30rem;
  }
  /*Оформление модальных окон*/
  .ourvideo-content {
    width: 43rem;
    height: 22rem;
  }
  .ourvideo-close {
    top: -5.5rem;
    right: -9rem;
    color: #ffffff;
    font-size: 46px;
  }
  .price-close {
    top: -1rem;
    right: -5rem;
    width: 20rem;
    color: #cb0529;
    font-size: 46px;
  }
  .order-close {
    top: -1rem;
    right: -5rem;
    width: 20rem;
    color: #cb0529;
    font-size: 46px;
  }
  .consultation-close {
    top: -1rem;
    right: -5rem;
    width: 20rem;
    color: #cb0529;
    font-size: 46px;
  }
  .thanks-close {
    top: -1rem;
    right: -5rem;
    width: 20rem;
    color: #cb0529;
    font-size: 46px;
  }
}
